.wrapper {
  margin-bottom: 40px;
  border: 1px solid #ccc;
  padding: 40px;
  display: inline-block;

    .select {
      display: flex;
      flex-direction: column;
      padding: 10px;
      select {
        padding: 10px;
        text-align: center;
      }
  }

  .submit input {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #dc3545;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}